body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background : #f9f7e8;
    color: #61bfad;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.holder{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label {
margin-bottom: 5px;
font-size:1em;
color:#61bfad;
cursor:pointer;
}
.myInput {
   padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
    opacity: 0.7;
    margin-bottom: 10px;
}

button {
    background: palevioletred;
    margin-top: 10px;
    border-radius: 100px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border: 1px solid palevioletred;
    margin: 5px 0;
   cursor: pointer;
  }
  
  /* Hover state animation applied here */
  button:hover { 
    opacity: 0.8;
  }
  
  .headline{
      font-size: 2em;
      color: palevioletred;
  }
  .entry{
      display: none;
      opacity: 0;
      transition: all 0.5s linear;
      
 }
 .error {
     display: none;
     opacity: 0;
 }
 .title {
  width: 100%;
  margin: 10px;
  font-size: 1.5em;
  color: palevioletred;
 }
 #city , #temp{
     font-size: 35px;
 }
  .display{
      display: block;
      width: 100%;
      opacity: 1;
      border: 2px solid palevioletred;
      border-radius: 20px;
      width: 60vw;
      padding: 1.5em;
      text-align: center;

  }